body {
    font-family: sans-serif;
    margin: 20px;
    background-color: rgb(240, 236, 236);
  }
  
  .input-area {
    display: flex;
    justify-items: center;
   
  }
  
  #taskInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #addTaskButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  #taskList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
  }
  
  #taskList li span {
    flex-grow: 1;
  }
  
  #taskList li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }